.Kontakt       {font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: 0rem;
                left: 5rem;}

.Kontakt2      {font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: -6rem;
                left: 30rem;}

.Kontakt_title {font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: 2rem;
                left: 5rem;}

.Tabellen_Titel{font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: -2rem;
                left: 15rem;}

.table         {font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: -2rem;
                left: 15rem;}



.Kontakt_title_u{font-family: 'Open Sans';
                 font-style: normal;
                 position: relative;
                 top: 2rem;
                 left: 5rem;}

.Kontakt_u{font-family: 'Open Sans';
           font-style: normal;
           position: relative;
           top: ;
           left: 5rem;}

.Kontakt_u2{font-family: 'Open Sans';
            font-style: normal;
            position: relative;
            top: -6rem;
            left: 30rem;}

.Tabellen_title_u{font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: -2rem;
                  left: 15rem;}



.Kontakt3{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: 6rem;
          left: 5rem;}

.Kontakt4{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: 0rem;
          left: 30rem;}

.Kontakt_title2{font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: 8rem;
                left: 5rem;}

.Tabellen_title2{font-family: 'Open Sans';
               font-style: normal;
               position: relative;
               top: 0rem;
               left: 15rem;}



.Schulzeiten{}

.Tabel4         {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 1rem;
                  left: 5rem;}

.table5          {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 1rem;
                  left: 5rem;}

.Kontakt_title5  {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 2rem;
                  left: 5rem;}

.Kontakt5        {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 0rem;
                  left: 5rem;}

.Kontakt6        {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: -6rem;
                  left: 30rem;}

.Tabellen_title5{font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: -2rem;
                  left: 15rem;}



.Ferien{position: relative;
             top: 0rem;
             left: 10rem;}

.Tabelle4{position: relative;
          top: 2rem;
          left: 2rem;}

.Tabelle5{position: relative;
          top: 2rem;
          left: 2rem;}

.Kontakt_title4{font-family: 'Open Sans';
                position: relative;
                top: 4rem;
                left: 5rem;}

.Kontakt3{font-family: 'Open Sans';
          position: relative;
          top: 2rem;
          left: 5rem;}

.Kontakt4{font-family: 'Open Sans';
          position: relative;
          top: -4rem;
          left: 30rem;}



.Kontakt7{font-family: 'Open Sans';
           font-style: normal;
           position: relative;
           top: -4rem;
           left: 5rem;}

.Kontakt8{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: -10rem;
          left: 30rem;}

.Joker{background-attachment: initial;
       position: relative;
       top: 9rem;
       left: 35rem;}

.Jokertage{font-family: 'Open Sans';
           font-style: normal;
           position: relative;
           top: -11rem;
           left: 0rem;}



.Elternrat{position: relative;
           top: 0rem;
           left: 14rem;}

.Kontakt_title9{font-family: 'Open Sans';
                font-style: normal;
                position: relative;
                top: 2rem;
                left: 5rem;}

.Kontakt9{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: 0rem;
          left: 5rem;}

.Kontakt10{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: -6rem;
          left: 30rem;}

.Tabellen_title9{font-family: 'Open Sans';
                 font-style: normal;
                 position: relative;
                 top: -2rem;
                 left: 15rem;}



.table2{font-family: 'Open Sans';
        font-style: normal;
        position: relative;
        top: 2rem;
        left: 15rem;}



.Schule  {font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: 40rem;
          left: 10rem;}



.Schulregeln     {position: relative;
                  top: 0rem;
                  left: -6rem;}

.Kontakt_title26 {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 2rem;
                  left: 5rem;}

.Kontakt25       {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 0rem;
                  left: 5rem;}

.Kontakt26       {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: -6rem;
                  left: 30rem;}

.Tabellen_title26{font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: -2rem;
                  left: 15rem;}



.Schuelerrat     {position: relative;
                  top: 0rem;
                  left: 10rem;}

.Kontakt_title27 {font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: 2rem;
                  left: 5rem;}

.Kontakt27       {font-family: 'Open Sans';
                  position: relative;
                  top: 0rem;
                  left: 5rem;}

.Kontakt28       {font-family: 'Open Sans';
                  position: relative;
                  top: -6rem;
                  left: 30rem;}

.Tabellen_title27{font-family: 'Open Sans';
                  font-style: normal;
                  position: relative;
                  top: -2rem;
                  left: 15rem;}



.Biz_Kloten    {position: relative;
                top: 3rem;
                left: 5rem;}

.Yousty        {position: relative;
                top: -4rem;
                left: 35rem;}

.Berfusberatung{position: relative;
                top: -10rem;
                left: 20rem;}



.Hort_Kontakt{font-family: 'Open Sans';
              font-style: normal;
              position: relative;
              top: ;
              left: 17rem;}
