.kontakt
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;}

.title
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;
   margin-top: 2rem}

.table
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;}

.Kontakt_title5
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;}

.Kontakt5
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;}

.Kontakt6
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;;}


.table2
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;}



.Schule
  {font-family: 'Open Sans';
   font-style: normal;
   position: relative;}

.Schulrat
 {font-family: 'Open Sans';
  font style: normal;}
