.Kontakt {font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: ;
          left: 2rem;}

.Kontakt2{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: -7rem;
          left: 20rem;}

.table_title{font-family: 'Open Sans';
             font-style: normal;
             position: absolute;
             top: 30rem;
             left: 8rem;}

.table{font-family: 'Open Sans';
       font-style: normal;
       position: relative;
       top: -5rem;
       left: 8rem;}

Startseitenende



Unterstützung
.Kontakt3{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: ;
          left: ;}

.Kontakt4{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: ;
          left: ;}

table_title2{font-family: 'Open Sans';
             font-style: normal;
             position: relative;
             top: ;
             left: ;}

Unterstützungende



Schulleitung


Schulleitungende




Schulregeln

Schulregelnende