.Kontakt {font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: ;
          left: 2rem;}

.Kontakt2{font-family: 'Open Sans';
          font-style: normal;
          position: relative;
          top: -7rem;
          left: 20rem;}

.table_title{font-family: 'Open Sans';
             font-style: normal;
             position: absolute;
             top: 28rem;
             left: 8rem;}

.table{font-family: 'Open Sans';
       font-style: normal;
       position: relative;
       top: -4rem;
       left: 8rem;}
